ENV=dev

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1

# Twitter
CONSUMER_KEY=
CONSUMER_SECRET=

# Rollbar
ROLLBAR_ACCESS_TOKEN=

# AWS Kinesis delivery stream name
AWS_DELIVERY_STREAM_NAME=
